# Copy to .env (never committed). Only needed for Tier D (bring your own license).
SENTAURUS_HOST=du@103.28.121.70
SENTAURUS_PASSWORD=
SENTAURUS_REMOTE_ROOT=Sentaurus-files/Sami_Hozaifa/GAAFet
PLINK=C:/Program Files/PuTTY/plink.exe
PSCP=C:/Program Files/PuTTY/pscp.exe
